[submodule "backend"]
	path = backend
	url = https://github.com/danielambda/check-check-backend.git
[submodule "auth"]
	path = auth
	url = https://github.com/danielambda/check-check-auth.git
[submodule "telegram-bot"]
	path = telegram-bot
	url = https://github.com/danielambda/check-check-telegram-bot.git
